.open-sans-normal {
          font-family: "Open Sans", sans-serif;
          font-optical-sizing: auto;
          font-weight: weight;
          font-style: normal;
          font-variation-settings:
                    "wdth" 100;
}

/* header styles */

.header-1{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: left bottom, right bottom;
}

/* nav styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 220px 0 230px;
}
ul{
    display: flex;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-right: 25px;
}
nav ul li{
    list-style: none;
}
/* seared styles */
.bold-font{
    font-size: 20px;
    font-weight: bold;
}
.text-center{
    text-align: center;
    /* padding: 120px; */
}
.dark-2{
    color: #474747;
}
.dark-1{
    color: #181818;
}
.dark-3{
    color: #757575;
}
/* nav styles */
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
.nav-r{
    color: #FD6E0A;
}
.btn-1{
    font-size: 20px;
    font-weight: 600;
    background-color: #FD6E0A;
    padding: 15px 30px 15px 25px;
    border: none;
    border-radius: 5px;
}
/* div styles */

.div-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 0 250px;
}
.div-title{
    font-size: 45px;
    font-weight: 600;

}
.div-h1{
    font-size: 85px;
    font-weight: 700;

}
.div-p{
    font-size: 18px;
    font-weight: 600;
}
.dark-3{
    color: #757575;
}
.btn-2{
    font-size: 18px;
    font-weight: 600;
    color: #FD6E0A;
    padding: 15px 30px 15px 25px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
}

/* main section styles */

main{
    max-width: 1170px;
    margin: 0 auto;
}

/* about styles */

.about-section{
    padding: 120px 150px;
    text-align: center;
    margin: 130px 0  0 0;
    background-color: #FFF8F3;
    /* padding: 120px 150px; */
    /* align-items: center; */
}
.about-section div{
    /* text-align: center; */
    justify-content: center;
}
.about-title{
    font-size: 35px;
    font-weight: bold;
}

.about-container{
    display: flex;
    /* text-align: center; */
    
    gap: 40px;
}
/* section 2 styles */

.resume-container{
    display: flex;
    gap: 24px;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
}
.section-description{
    font-size: 18px;
}
.resume-card{
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    margin-top: 50px;
    padding: 30px;
}
/* section 3 styles */

.rayhan-container{
    display: flex;
    gap: 70px;
}

.head-title{
    margin: 130px 0 110px 0;
}
.resume-title{
    font-size: 30px;
    font-weight: bold;
}
.resume-h3{
    font-size: 25px;
    font-weight: bold;

}
.resume-h5{
    font-size: 20px;
    font-weight: 700;
}
.resume-p{
    font-size: 16px;
    font-weight: 600;
}
.mama{
    color: #D1D1D1;
}
/* footer styles */
footer
{
    background-color: #FFF8F3;
}
.footer-container{
    display: flex;
    
    gap: 100px;
    margin: 130px 230px;
}
.icons a img{
    margin-top: 30px;
    padding: 18px;
}
.div-1{
    width: 50%;
} 
.btn-4{
    margin-top: 30px;
}

footer input[type="text"], input[type="email"], footer textarea{
    display: block;
    padding: 18px 349px 18px 30px;
    border-radius: 2px;
    border: navajowhite;
}
