.open-sans-normal {
          font-family: "Open Sans", sans-serif;
          font-optical-sizing: auto;
          font-weight: weight;
          font-style: normal;
          font-variation-settings:
                    "wdth" 100;
}

/* header styles */

.header-1{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: left bottom, right bottom;
}

/* nav styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 220px 0 230px;
}
ul{
    display: flex;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-right: 25px;
}
nav ul li{
    list-style: none;
}

.dark-2{
    color: #474747;
}


.nav-title{
    font-size: 45px;
    font-weight: 800;
}
.nav-r{
    color: #FD6E0A;
}
.btn-1{
    font-size: 20px;
    font-weight: 600;
    background-color: #FD6E0A;
    padding: 15px 30px 15px 25px;
    border: none;
    border-radius: 5px;
}
/* div styles */

.div-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 0 250px;
}
.div-title{
    font-size: 45px;
    font-weight: 600;

}
.div-h1{
    font-size: 85px;
    font-weight: 700;

}
.div-p{
    font-size: 18px;
    font-weight: 600;
}
.dark-3{
    color: #757575;
}
.btn-2{
    font-size: 18px;
    font-weight: 600;
    color: #FD6E0A;
    padding: 15px 30px 15px 25px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
}